[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "telraamStats"]
	path = telraamStats
	url = https://github.com/ketsiaguichard/telraamstats
